{% extends 'blog/base.html' %}

{% block main_area %}
    <div class="container my-3">
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <h1>Blog</h1>
                <br>
                {% if user.is_authenticated %}
                    {% if user.is_superuser or user.is_staff %}
                        <a class="btn btn-primary btn-sm float-right" href="/blog/create_post/" role="botton">
                        <i class="fas fa-pen"></i>&nbsp;&nbsp;NEW POST</a>
                    {% endif %}
                {% endif %}
                <br>
                <hr>
                {% for p in post_list %}
                <!-- Blog Post -->
                <div class="card mb-4">
                    {% if p.head_image %}
                        <img class="card-img-top" src="{{p.head_image.url}}" alt="Card image cap">
                    {% else %}
                        <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                    {% endif %}

                    <div class="card-body">
                        <h2 class="card-title">[{{ p.category }}] {{ p.title}}</h2>
                          <p class="card-text">{{ p.get_content_markdown | truncatewords_html:30 | safe }}</p>
{#                        <p class="card-text">{{ p.content | truncatechars:100}}</p>#}
{#                        <p class="card-text">{{ p.content | truncatewords:45}}</p>#}
                        <a href="{{ p.get_absolute_url }}" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on {{ p.created_at}} by
                        <a href="#">{{ p.author }}</a>
                    </div>
                </div>
                {% endfor %}


                <!-- Pagination -->
                <ul class="pagination justify-content-center mb-4">
                    <li class="page-item">
                        <a class="page-link" href="#">&larr; Older</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Newer &rarr;</a>
                    </li>
                </ul>

            </div>

            {% include 'blog/sidebar.html' %}
            </div>
        </div>
    </div>
{% endblock %}